<!DOCTYPE html>
<html lang="en">

<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

	<script type=text/javascript>
		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		function getValOr0(namestring){
			x = $(namestring).val();
			if(x==""){
				return "0";
			}else{
				return x;
			}
		}

		function updateSum(){
			$.getJSON($SCRIPT_ROOT + '/_add_numbers', 
				{
					a: getValOr0('input[name="a"]'),
					b: getValOr0('input[name="b"]')
				}, 
				function(data) {
					console.log(data.result)
					$("#result").text(data.result[ data.result.length-1 ]+1);
					console.log(data.message['a'])
				}
			);
			return false;
		}

		// Load bindings once document loads
		$(function() {
			$('.numberinput').bind('input',updateSum);
			$('a#calculate').bind('click', updateSum);
		});
	</script>


</head>

<body id="page-top">
	<h1>jQuery Example</h1>
	<p><input class="numberinput" type=text size=5 name=a> +
	   <input class="numberinput" type=text size=5 name=b> =
	   <span id=result>?</span>
	<p><a href=# id=calculate>calculate server side</a>
</body>