{% extends 'layout.html' %}

{% block body %}

<section class="bg-info">
	<div class="container">
		<h2>Can we make an improvement?</h2>
	</div>
</section>

<section>
	<div class="container">

		<h4>Solutions are not increasing as fast as problems.</h4>

		<p>Lorem ipsum dolor sit amet, malesuada mi, in tempor nullam nunc eros vitae, tempor vehicula libero aliquam, sollicitudin risus in, ullamcorper in wisi et. Mattis lacus vehicula sollicitudin in elit pellentesque, laoreet eleifend venenatis eget cras, magna est, amet praesent aenean eget eros porttitor, et eros aliquet ipsum faucibus feugiat.</p>

		<p>Sed lacinia suspendisse et hac ipsum, laoreet luctus nunc lectus, praesent id et suspendisse eu sodales fusce, aliquam sodales ipsum elementum massa magnis scelerisque. In at duis et lectus in dolor, id congue euismod officiis magna, rutrum donec pharetra tristique vitae sem, mus enim amet at cras elit ullamcorper, urna enim egestas orci est lacinia arcu. Proin molestie et a vel sapien, mattis amet, eu etiam nunc nisl, ultricies nunc.</p>

		<p>Est nunc morbi pellentesque mattis. Risus sem venenatis tristique mauris lectus maecenas. Libero ac tristique vel eget, nec tortor luctus amet. Quam dolorem a malesuada aliquam, cras blandit mauris tristique nulla justo, in etiam risus eu quisque tempor, vitae ac in ut metus placerat eleifend, sed massa nullam a. Dolor lorem facilisis non quisque pulvinar justo, lacus praesent lacus, vivamus magna vestibulum tempus quis, laborum risus enim id semper, a vestibulum sed felis varius suspendisse mauris. </p>

		<p>Facilisis vitae tellus id in nulla eu, egestas habitasse fermentum in orci risus semper, purus nisl, tempor nonummy nullam vehicula erat tellus ipsum, vivamus scelerisque amet. Et elit metus tristique, duis vestibulum lacinia nunc eget, aliquam sem eros pellentesque ac potenti. Sed a erat per massa non nec, eget sed massa in dapibus dui. Metus eget.</p>

	</div>

	<div class="container text-center">
        <br>
        <h2> Ready to Do Something?</h2>    
        <a href="{{ url_for('takeaction') }}" class="btn btn-primary">Take Action!</a>
    </div>
</section>

{% endblock %}
